* {
    margin: 0;
    padding: 0;
}

.box {
    border: 2px solid;
    width: 80vw;
    height: 250px;
    margin: 20px;
}

.box1 {
    background-color: aqua;
    /* position: static;  by default*/
    /* position: relative;
    z-index: 1; */
    /* position: sticky;
    top: 0; */
}

.box2 {
    background-color: brown;
    /* position: relative;
    bottom: 60px;
    left: 30px; */
    /* position: absolute;
    top: 50px; */
}

.box3 {
    background-color: olive;
    /* position: fixed; */
}

.box4 {
    background-color: blue;
}

.parent {
    border: 2px solid;
    padding: 20px;
    margin: 20px;
    /* position: absolute; */
}

.hero {
    margin: 20px;
    padding: 30px;
    width: 100%;
    height: 100vh;
    background-color: olive;
    font-size: 30px;
}

/* Responsiveness media query*/
/* @media screen and (max-width: 600px){
    .parent{
        background-color: black;
    }
} */

/* for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .parent {
        background-color: black;
    }

    .hero {
        margin: 10px;
        padding: 15px;
        width: 50%;
        height: 50vh;
        background-color: olive;
        font-size: 15px;
    }
}

/* for tabled devices */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .parent {
        background-color: black;
    }

    .hero {
        margin: 13px;
        padding: 18px;
        width: 70%;
        height: 70vh;
        background-color: olive;
        font-size: 20px;
    }
}

/* for laptops */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .parent {
        /* background-color: black; */
    }

    .hero {
        margin: 20px;
        padding: 30px;
        width: 100%;
        height: 100vh;
        background-color: olive;
        font-size: 30px;
    }
}

/* for large devices */
@media screen and (min-width: 1025px) and (max-width: 1800px) {
    .parent {
        /* background-color: black; */
    }

    .hero {
        margin: 20px;
        padding: 30px;
        width: 100%;
        height: 100vh;
        background-color: olive;
        font-size: 30px;
    }
}